*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 50px;
}
h2 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 500;
    font-size: 35px;
    color: #543A14;
}
h3 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 500;
    font-size: 16px;
}
p{
    margin: 0;
    font-size: 16px;
}

img {
    width: 100%;
    display: block;
  
}

/*----------Header and logo---------------*/

header {
    background-color: #AF8F6F;
    padding-top: 20px;
   
 
}

.logo {
    width: 200px;
    margin: 0 auto;

}
/*-----------------navigation--------------------------*/
nav {
    padding-top: 10px;
    padding-bottom: 20px;
}
.hamburger {
    list-style-type: none;
   
}
.hamburger a {    
    text-align: right;
    text-decoration: none;
    display: block;
    color: #543A14;
    padding-right: 20px;
    padding-left: 30px;
    font-size: 18px;


   
}

.menu {
    list-style-type: none;
    display: none;
    border: 1px #543A14 solid;
    margin: 0 22px;
    

}
.menu li a {
    text-decoration: none;
    display: block;
    text-align: right;
    background-color: #fff;
    color: #543A14;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 18px 40px;
    border-bottom: 0.5px #CFC8C9 solid;
    
}

.hamburger {
    list-style-type: none;
    text-align: center;
}
.hamburger a {    
    text-decoration: none;
    display: block;
    padding-right: 20px;

   
}
.show-menu {
    display: block;
}
.icons {
    display: flex;
    list-style-type: none;
    background-color: #fff;
    color: #543A14;
    justify-content: right;
    padding: 10px 40px;
    font-size: 16px;
}
.icons a {
    text-decoration: none;
    color: #543A14;
    
  
}
/*------------body-------------*/

body{
    background-color: #FFFCF5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #543A14;
}
/*------------banner--------------------*/
.banner{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px; 
}

.banner h1 {
    text-align: center;
    color:  #AF8F6F;
}

.banner p {
    text-align: center;
    color:  #AF8F6F;
    font-size: 16px;
}

/*--------products ---------------*/
.goods {
    padding: 30px 0;
}
.goods h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.product {
    background-color: #F9F2E4;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.product h3 {
    text-align: center;
    padding-top: 10px;
    margin: 0px;
}
.product p {
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px;
}
.star {
    color: #D0B49F;
    text-align: center;
    font-size: 13px;
    padding-top: 30px;
}
/*---------------our shop's history---------------*/


/*----------reviews from our customers-------------*/
.review {
    background-color: #F9F2E4;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.review h2{
    
    padding-bottom: 10px;
}
.review h3{
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}
.review p{
    font-size: 14px;
    
}
.ratings {
    color: #D0B49F;
    text-align: center;
    font-size: 13px;
    padding: 10px 0;
}
.comments {
    flex: 1;
}
/*----------------footer------------------*/
footer {
    background-color: #AF8F6F;
    padding-top: 2px;
    padding-bottom: 2px;
   
}
/*------------------footer navigation--------------------------*/
.f-group {
    margin:0 auto;
    width: 150px;
}

/*-----------------------social media------------------------------*/

.media-text{
    border-top: 2px #6C6C6C solid;
    background-color: #AF8F6F;
    text-align: right;
    color: #F9F2E4;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
}
/*--------------Events page banner--------------------*/
.banner-1{
    background-image: url("../img/banner-1.jpg");
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px; 
}

.banner-1 h1 {
    text-align: center;
    color:  #FFFCF5;
}
/*------------------service our shop provide---------------------------------*/
.party {
    padding-top: 30px;
    padding-bottom: 30px;
}
.party h2 {
    text-align: center;
}
.info {
    margin: 30px;
    text-align: center;
}
/*----------------product banner-------------------------------*/
.banner-2{
    background-image: url("../img/banner-4.jpg");
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px; 
}

.banner-2 h1 {
    text-align: center;
    color:  #FFFCF5;
}
/*-------------------my products--------------------------*/
.items{
    padding-top: 30px;
    padding-bottom: 30px;
}
/*------------------------contact us banner------------------------------*/
.banner-3{
    background-image: url("../img/contact-banner.jpg");
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px; 
}

.banner-3 h1 {
    text-align: center;
    color:  #FFFCF5;
}
/*------------contact form--------------------*/
.subscribe {
   padding: 30px;
}
.subscribe h2{
    text-align: center;
 }
 .subscribe p{
    text-align: center;
 }
 form input {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    background-color: #AF8F6F;
    color: #F9F2E4;
    font-family: 'Port Lligat Sans', sans-serif;
    font-weight: 400;
 }

 form input[type="text"]{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    border-bottom: 1px #6C6C6C solid;
    background-color: #FFFCF5;
    color: #6C6C6C;
    font-family: 'Port Lligat Sans', sans-serif;
    font-weight: 400;
 }
form input[type="email"] {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    color: #6C6C6C;
    border-bottom: 1px #6C6C6C solid;
    background-color: #FFFCF5;
    font-family: 'Port Lligat Sans', sans-serif;
    font-weight: 400;
}

 form textarea {
    width: 70%;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #FFFCF5;
    
}
.place {
    text-align: center;
    border: 2px #AF8F6F solid;
    margin: 20px 30px;
    margin-bottom: 20px;
    padding: 40px 20px;
    font-weight: 400;
}
.divide  {
    border-bottom: 3px #CFC8C9 solid;
   margin: 10px 99px;
 
}
/*------------carousel---------------------*/
.item img {
    width: 100%;
}
.carousel-caption {
    text-align: right;
    color: #F9F2E4;
    display: none;
    
}

.carousel-text {
    text-align: center;
    color: #AF8F6F;
    padding: 20px 0;
}
.carousel-text h3 {
    margin-top: 10px;
}
.carousel-text p {
   font-size: 12px;
   margin: 0 15px;
}
.carousel-inner>.item {
    background-color: #F9F2E4;;
}
.carousel-indicators {
    bottom: -42px;
    padding-bottom: 38px;
   
}
.slide {
    padding-top: 10px;
    padding-bottom: 40px;
}
.slide h2 {
    text-align: center;
    padding-bottom: 10px;
}
.carousel-indicators .active {
    background-color: #AF8F6F;
    border-color: #AF8F6F;
}
.carousel-indicators li {
    background-color: #FFF;
    border-color: #AF8F6F;
}
/*-------------loader--------------------*/
.loader {
    background-color: #F9F2E4;;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Layer_1 {
    animation-name: word;
    animation-duration: 0.85s;
    animation-iteration-count: infinite;
    transform-origin: center center;
    animation-timing-function: linear ease-in-out;
   
}
.Layer_2{
    animation-name: word;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    transform-origin: center center;
    animation-timing-function:linear ease-in-out;
}
.Layer_3{
    animation-name: word;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center center;
    animation-timing-function: linear ease-in-out;
}

/*---------media screen-------------*/

@media screen and (min-width:688px) {
    h1 {
        font-size: 67px;
        font-weight: 400;
    }
    h2 {
        font-size: 35px;
    }
    
    h2 {
        font-size: 30px;
    }
    body {
        font-size: 18px;
    }

    /*------------nav---------------*/
    
    header {
        display:flex;
        align-items: center;
       justify-content: space-between;
       padding: 10px;
    }
    nav {
        padding: none;
    }
    .hamburger {
        display: none;
    }
    .show-menu {
        display: none;
        background-color: #AF8F6F;
    }
   
    .menu {
        display: flex;
        border: none;
        background-color: #AF8F6F;
        
    }
    .menu li a {
        padding: 0 8px;
        background-color: #AF8F6F;
        color: #F9F2E4;
        border: none;
        text-align: center;
       
    }
    .menu li a:hover {
        color: #6C6C6C;
    }
  
    .icons {
        background-color: #AF8F6F;
        padding: 0;
        padding: 0 10px;
        font-size: 18px;
        
    }
    
    .icons a {
        color: #F9F2E4;
        padding: 0 5px;
    }
    .icons a:hover{
        color: #6C6C6C;
    }
    .logo {
       width: 200px;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .banner h1{
        font-size: 67px;
    }
    .banner p{
        font-size: 20px;
    }
    .row {
        display: flex;
        margin: 0px;
        
    }
    .service {
        padding: 20px 0;
       
    }

   

    .product {
        flex: 1;
    }
    .product h3{
        font-size: 18px;
        margin: 0;
        padding: 10px 0;
    }
    .product p{
        font-size: 25px;
    }
    .subscribe {
        padding: 40px 0;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .f-group {
        margin:0px;
       
    }

    .item-img {
        width: 100%;
    height: auto;
    max-height: 500px; /* Adjust this to control the height */
    object-fit: cover;
    
    }
    
    .carousel-text {
        display: none;
        text-align: right;
    }
    .carousel-caption {
        display: block;
        color: #D0B49F;
        text-shadow: none;
        text-align: center;
    }
    .carousel-indicators {
        padding-bottom: 30px;
    }
    .carousel-caption h3 {
        color: #F9F2E4;
        margin-top: 0;
        margin-top: 10px;
    }
    .carousel-caption p {
        color: #F9F2E4;
         
    }
    .history-img{
        display: flex;
    }

    /*-------------------event--------------------------*/
    
    .party h3{
        font-size: 18px;
        padding-top: 20px;
    }
/*------------------product page------------------*/
    
    .items {
        padding-top: 90px;
       
    }
    /*-----------------contact------------------------*/
   .sub-row{
    display: flex;
   }
   .map{
    width:300px;
    margin-top: 80px;
    margin-left: 65px;
   }
    .place{
        padding: 55px;
        
    }
}
/*--------------------------laptop view-----------------------------------*/
@media screen and (min-width:992px) {
    
    /*-------------------navigation--------------------------*/
    .menu li a {
        font-size: 18px;
    }
    .icon a{
        font-size: 18px;
    }
    /*--------------------contact us form--------------------------*/
    .map{
        width:650px;
        margin-top: 0px;
        margin-left: 65px;
       }
    .subscribe {
        padding-left: 85px;
        padding-right: 85px;
    }
    /*------------------------shop's history------------------------*/
    .history {
        padding: 250px 0;
        background-position: bottom left;
    }
    .history h2{
        font-size: 45px;
        font-weight: 500;
    }
    .history p {
        font-size: 16px
    }
    /*--------------------banner for laptop view----------------------------------*/
    .banner {
        padding: 300px 0;
        background-position: center center;
    }
    .banner-1 {
        padding: 200px 0;
        background-position: center center;
    }
    .banner-2 {
        padding: 200px 0;
        background-position: center center;
    }
    .banner-3 {
        padding: 200px 0;
        background-position: center center;
    }
    /*-----------------service--------------------------------*/
    .source {
        padding-left: 95px;
        padding-right: 95px;
    }

    /*--------------------carousel---------------------------*/
    .slide {
        padding-top: 20px;
        padding-bottom: 50px;
        
    }
    
    .carousel-caption h3 {
        font-size: 35px;
        color: #F9F2E4;
        padding: 0px 40px;
    }
    .carousel-caption p {
        font-size: 25px;
        color: #F9F2E4;
    }
    .carousel-caption {
        margin: 150px 0;
        font-size: 20px
        
    }
    .footer-edit {
        display: flex;
    }
    .footer-nav ul li a {
        font-size: 18px;
    }
    .media a{
        font-size: 18px;
    }
}
@media screen and (min-width:1080px) {

/*-----------------service--------------------------------*/
.source {
    padding-left: 135px;
    padding-right: 135px;
}


}

